/* App.css */
.app {
  display: flex;
}

.main-content {
  margin-left: 25%; /* Same width as the sidebar */
  padding: 20px;
  flex-grow: 1;
}

.weather-info {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-box {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-box h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.weather-box p {
  margin: 5px 0;
  font-size: 1rem;
}
